# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://kdbwxqstkzjzwjtsjidl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtkYnd4cXN0a3pqendqdHNqaWRsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwOTc1MzEsImV4cCI6MjA3MDY3MzUzMX0.QvJXN03__Wzi4jptgKVapP5QvmtddSHB38y6VY2xteQ

# Razorpay Configuration
RAZORPAY_KEY_ID=rzp_live_R7tco6KsmUQMI8
RAZORPAY_KEY_SECRET=rh63PdDfRt72didyOF09nClz
RAZORPAY_WEBHOOK_SECRET=your-webhook-secret

# Server Configuration
PORT=3000
NODE_ENV=development
